addict==2.2.1
backcall==0.1.0
chumpy==0.70
cycler==0.10.0
decorator==4.4.2
freetype-py==2.1.0.post1
future==0.18.2
imageio==2.8.0
ipdb==0.13.2
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
kiwisolver==1.1.0
matplotlib==3.2.0rc3
networkx==2.4
opencv-python==4.2.0.32
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==6.1.0
prompt-toolkit==3.0.4
protobuf==3.11.3
ptyprocess==0.6.0
pycocotools==2.0.0
pyglet==1.5.0
pygments==2.6.1
pyopengl==3.1.0
pyparsing==2.4.6
pypng==0.0.20
pyrender==0.1.36
python-dateutil==2.8.1
pywavelets==1.1.1
scikit-image==0.16.2
tensorboardx==2.0
traitlets==4.3.3
trimesh==3.5.25
wcwidth==0.1.9
smplx==0.1.27
configargparse
